 <html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{name}} - Product Page </title>
  </head>
    <body>
        <script src="/index.bundle.js"></script> 
      {{>header}}
      <div>The name of this product is {{name}}!</div>
    </body> 
    {{>footer}}
</html>
