 <html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{name}} - Product Page </title>
  </head>
    <body>
        <script src="/index.bundle.js"></script> 
      {{>header}}
      <div>The name of this product is {{name}}! Keep reading to learn more</div>
      <div> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mauris risus, vestibulum sit amet mollis bibendum, semper a ex. Donec ut mauris sed libero lobortis fermentum. Nunc sed eleifend purus. Cras in euismod dui. Maecenas iaculis lacinia arcu eleifend luctus. Integer tristique, lectus sit amet auctor vehicula, leo mi malesuada nisl, in pulvinar mauris erat sed nunc. Nullam quis dictum purus. Cras eleifend lacus sit amet venenatis porttitor.</div>
    </body> 
    {{>footer}}
</html>