 <html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{name}} - Product Page </title>
  </head>
    <body>
        <script src="/index.bundle.js"></script> 
      {{>header}}
<<<<<<< HEAD
      <div>The name of this product is {{name}}! Keep reading to learn more</div>
=======
      <div>The name of this product is {{name}}!</div>
>>>>>>> 1d1b410d02648099b37cbdea69a3a502dab6d952
    </body> 
    {{>footer}}
</html>
